@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
.headerContainer{
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 1vh 1vw;
  align-items: center;
}

.appName{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 5vh;
  padding: 1vh 0vw;
}
.headerSearch{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;


}
.inputBox{
  border: none;
  border-bottom: 2px solid black;
  padding: 1vh 1vw;

}
.inputBox:focus{
  outline: none;
}

.inputBtn{

  border: 1px solid black;
  padding: 3%;
  margin: 1vw 1vh;
  background-color: white;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}
.inputBtn:hover{
  background-color: black;
  color: white;
  border-color: white;
}
