.songTileContainer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: white;
  padding: 0.5vh 1vw;
  width:13vw;
  border: 1px solid black;
  margin: 1vh 1vw;

}
.songImage{
  width: 11vw;
  height: 11vw;
}
.imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}
.songInfoContainer{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}
.title{
  font-size: 1.4vw;
  text-align: center;
  color: black;
}
.title:visited{
  color: black;
}
.artists{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}
.artist{
  font-size: 1.2vw;
  text-align: center;
}
