.songTileContainer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: white;
  padding: 0.5vh 1vw;
  width:13vw;
  border: 1px solid black;
  margin: 1vh 1vw;

}
.songImage{
  width: 11vw;
  height: 11vw;
}
.imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}
.audioContainer{
  display: flex;
  align-items: center;

}
.hp_slide{
    width:11vw;
    background:gray;
    height:0.5vh;
}
.hp_range{
    width:0;
    background:black;
    height:25px;
}

/* Removes the time stamp */
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
  display: none;
}



.songInfoContainer{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}
.title{
  font-size: 1.4vw;
  text-align: center;
  color: black;
}
.title:visited{
  color: black;
}
.artists{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}
.artist{
  font-size: 1.2vw;
  text-align: center;
}
