.App {
  height: 100%;
  margin: 0;
}

.appContainer{
  display: flex;
  flex-flow: column;
  /*just to see pink */
  background-color: black;
}
.loginContainer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  /*yellow*/
  background-color: white;

}
